<Project>
  <PropertyGroup>
    <PublishRoot Condition="'$(PublishRoot)' == ''">$(MSBuildProjectDirectory)\publish</PublishRoot>

    <PublishDir>$(PublishRoot)\portable\$(RuntimeIdentifier)\</PublishDir>

    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>full</TrimMode>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
  </PropertyGroup>
</Project>